# Assignment 7
## Task 1 : Read the following data set:
## https://archive.ics.uci.edu/ml/machine-learning-databases/adult/
### Create a sql db from adult dataset and name it sqladb

In [2]:
import pandas as pd
import sqlite3 as db
from pandasql import sqldf

In [3]:
adultdf=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data",header=None)
adultdf.to_csv("./adult.data.csv",index=None) #Saved file for future use if URL is not available
#adultdf=pd.read_csv("./adult.data.csv")
adultdf.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [59]:
adultdf.shape

(32561, 15)

In [4]:
adultdf.columns = ['age','workclass','fnlwgt','education','education-num',
                   'marital-status','occupation','relationship','race','sex',
                   'capital-gain','capital-loss','hours-per-week','native-country','prediction']
adultdf.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,prediction
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [57]:
cols=['workclass','education','marital-status','occupation','relationship','race','sex','native-country','prediction']
for i in cols:
    adultdf[i]=adultdf[i].str.strip()

In [171]:
adultdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
prediction        32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [58]:
pysqldf = lambda q: sqldf(q, globals())
pysqldf("SELECT * from adultdf LIMIT 5;")

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,prediction
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [60]:
conn = db.connect('sqladb.db')
cursor = conn.cursor()
sql="""
        CREATE TABLE IF NOT EXISTS ADULT (
        age INTEGER, workclass TEXT, fnlwgt INTEGER, education TEXT, 'education-num' INTEGER, 'marital-status' TEXT, occupation TEXT,
        relationship TEXT,race TEXT, sex TEXT, 'capital-gain' INTEGER, 'capital-loss' INTEGER, 'hours-per-week' INTEGER,
        'native-country' TEXT, prediction TEXT);
        """
cursor.execute(sql)
conn.commit()

In [61]:
cursor.executemany('INSERT INTO ADULT VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)',
                 zip(adultdf.iloc[:,0], adultdf.iloc[:,1], adultdf.iloc[:,2], adultdf.iloc[:,3], adultdf.iloc[:,4],
                     adultdf.iloc[:,5], adultdf.iloc[:,6], adultdf.iloc[:,7], adultdf.iloc[:,8], adultdf.iloc[:,9],
                     adultdf.iloc[:,10], adultdf.iloc[:,11], adultdf.iloc[:,12], adultdf.iloc[:,13], adultdf.iloc[:,14])
                  )
conn.commit()

### 1.1 : Select 10 records from the adult sqladb

In [168]:
cursor.execute('SELECT * FROM ADULT LIMIT 10;')
cursor.fetchall()

[(39,
  'State-gov',
  77516,
  'Bachelors',
  13,
  'Never-married',
  'Adm-clerical',
  'Not-in-family',
  'White',
  'Male',
  2174,
  0,
  40,
  'United-States',
  '<=50K',
  None),
 (50,
  'Self-emp-not-inc',
  83311,
  'Bachelors',
  13,
  'Married-civ-spouse',
  'Exec-managerial',
  'Husband',
  'White',
  'Male',
  0,
  0,
  13,
  'United-States',
  '<=50K',
  None),
 (38,
  'Private',
  215646,
  'HS-grad',
  9,
  'Divorced',
  'Handlers-cleaners',
  'Not-in-family',
  'White',
  'Male',
  0,
  0,
  40,
  'United-States',
  '<=50K',
  None),
 (53,
  'Private',
  234721,
  '11th',
  7,
  'Married-civ-spouse',
  'Handlers-cleaners',
  'Husband',
  'Black',
  'Male',
  0,
  0,
  40,
  'United-States',
  '<=50K',
  None),
 (28,
  'Private',
  338409,
  'Bachelors',
  13,
  'Married-civ-spouse',
  'Prof-specialty',
  'Wife',
  'Black',
  'Female',
  0,
  0,
  40,
  'Cuba',
  '<=50K',
  None),
 (37,
  'Private',
  284582,
  'Masters',
  14,
  'Married-civ-spouse',
  'Exec-managerial',
  'Wife',
  'White',
  'Female',
  0,
  0,
  40,
  'United-States',
  '<=50K',
  None),
 (49,
  'Private',
  160187,
  '9th',
  5,
  'Married-spouse-absent',
  'Other-service',
  'Not-in-family',
  'Black',
  'Female',
  0,
  0,
  16,
  'Jamaica',
  '<=50K',
  None),
 (52,
  'Self-emp-not-inc',
  209642,
  'HS-grad',
  9,
  'Married-civ-spouse',
  'Exec-managerial',
  'Husband',
  'White',
  'Male',
  0,
  0,
  45,
  'United-States',
  '>50K',
  None),
 (31,
  'Private',
  45781,
  'Masters',
  14,
  'Never-married',
  'Prof-specialty',
  'Not-in-family',
  'White',
  'Female',
  14084,
  0,
  50,
  'United-States',
  '>50K',
  None),
 (42,
  'Private',
  159449,
  'Bachelors',
  13,
  'Married-civ-spouse',
  'Exec-managerial',
  'Husband',
  'White',
  'Male',
  5178,
  0,
  40,
  'United-States',
  '>50K',
  None)]

### 1.2 :  Show me the average hours per week of all men who are working in private sector

In [78]:
cursor.execute("SELECT AVG(\"hours-per-week\") FROM ADULT where workclass = 'Private' and sex = 'Male';")
cursor.fetchall()

[(42.22122591006424,)]

 ### 1.3 : Show me the frequency table for education, occupation and relationship, separately

In [79]:
cursor.execute("SELECT count(education),education FROM ADULT group by education;")
cursor.fetchall()

[(933, '10th'),
 (1175, '11th'),
 (433, '12th'),
 (168, '1st-4th'),
 (333, '5th-6th'),
 (646, '7th-8th'),
 (514, '9th'),
 (1067, 'Assoc-acdm'),
 (1382, 'Assoc-voc'),
 (5355, 'Bachelors'),
 (413, 'Doctorate'),
 (10501, 'HS-grad'),
 (1723, 'Masters'),
 (51, 'Preschool'),
 (576, 'Prof-school'),
 (7291, 'Some-college')]

In [80]:
cursor.execute("SELECT count(occupation),occupation FROM ADULT group by occupation;")
cursor.fetchall()

[(1843, '?'),
 (3770, 'Adm-clerical'),
 (9, 'Armed-Forces'),
 (4099, 'Craft-repair'),
 (4066, 'Exec-managerial'),
 (994, 'Farming-fishing'),
 (1370, 'Handlers-cleaners'),
 (2002, 'Machine-op-inspct'),
 (3295, 'Other-service'),
 (149, 'Priv-house-serv'),
 (4140, 'Prof-specialty'),
 (649, 'Protective-serv'),
 (3650, 'Sales'),
 (928, 'Tech-support'),
 (1597, 'Transport-moving')]

In [81]:
cursor.execute("SELECT count(relationship),relationship FROM ADULT group by relationship;")
cursor.fetchall()

[(13193, 'Husband'),
 (8305, 'Not-in-family'),
 (981, 'Other-relative'),
 (5068, 'Own-child'),
 (3446, 'Unmarried'),
 (1568, 'Wife')]

### 1.4 : Are there any people who are married, working in private sector and having a masters degree

In [82]:
cursor.execute("SELECT count(1) FROM ADULT where relationship in ('Husband','Wife') and workclass = 'Private' and education='Masters';")
cursor.fetchall()

[(528,)]

### 1.5 :  What is the average, minimum and maximum age group for people working in different sectors

In [154]:
cursor.execute("SELECT avg(age),min(age),max(age),workclass FROM ADULT group by workclass ;")
cursor.fetchall()

[(40.960239651416124, 17, 90, '?'),
 (42.590625, 17, 90, 'Federal-gov'),
 (41.75107501194458, 17, 90, 'Local-gov'),
 (20.571428571428573, 17, 30, 'Never-worked'),
 (36.797585477617204, 17, 90, 'Private'),
 (46.01702508960574, 17, 84, 'Self-emp-inc'),
 (44.96969696969697, 17, 90, 'Self-emp-not-inc'),
 (39.43605546995377, 17, 81, 'State-gov'),
 (47.785714285714285, 19, 72, 'Without-pay')]

### 1.6 : Calculate age distribution by country

In [156]:
cursor.execute("SELECT count(age),age,\"native-country\" FROM ADULT group by age,\"native-country\";")
cursor.fetchall()

[(2, 17, '?'),
 (2, 17, 'Canada'),
 (2, 17, 'El-Salvador'),
 (1, 17, 'England'),
 (1, 17, 'Haiti'),
 (1, 17, 'India'),
 (6, 17, 'Mexico'),
 (2, 17, 'Peru'),
 (1, 17, 'Philippines'),
 (1, 17, 'Poland'),
 (1, 17, 'Puerto-Rico'),
 (1, 17, 'Trinadad&Tobago'),
 (374, 17, 'United-States'),
 (8, 18, '?'),
 (1, 18, 'Cambodia'),
 (1, 18, 'Canada'),
 (1, 18, 'Columbia'),
 (1, 18, 'Dominican-Republic'),
 (1, 18, 'Germany'),
 (1, 18, 'Honduras'),
 (1, 18, 'India'),
 (1, 18, 'Jamaica'),
 (6, 18, 'Mexico'),
 (1, 18, 'Peru'),
 (2, 18, 'Philippines'),
 (1, 18, 'Scotland'),
 (524, 18, 'United-States'),
 (5, 19, '?'),
 (1, 19, 'Canada'),
 (4, 19, 'El-Salvador'),
 (2, 19, 'England'),
 (3, 19, 'Guatemala'),
 (1, 19, 'Haiti'),
 (1, 19, 'Honduras'),
 (1, 19, 'Hong'),
 (1, 19, 'Italy'),
 (1, 19, 'Jamaica'),
 (2, 19, 'Japan'),
 (2, 19, 'Laos'),
 (14, 19, 'Mexico'),
 (2, 19, 'Nicaragua'),
 (2, 19, 'Philippines'),
 (1, 19, 'Portugal'),
 (3, 19, 'Puerto-Rico'),
 (3, 19, 'South'),
 (2, 19, 'Thailand'),
 (659, 19, 'United-States'),
 (2, 19, 'Vietnam'),
 (10, 20, '?'),
 (2, 20, 'Canada'),
 (5, 20, 'El-Salvador'),
 (1, 20, 'England'),
 (1, 20, 'France'),
 (5, 20, 'Germany'),
 (3, 20, 'Guatemala'),
 (1, 20, 'Haiti'),
 (1, 20, 'India'),
 (1, 20, 'Italy'),
 (18, 20, 'Mexico'),
 (4, 20, 'Nicaragua'),
 (1, 20, 'Peru'),
 (2, 20, 'Philippines'),
 (2, 20, 'Puerto-Rico'),
 (2, 20, 'South'),
 (1, 20, 'Taiwan'),
 (689, 20, 'United-States'),
 (3, 20, 'Vietnam'),
 (1, 20, 'Yugoslavia'),
 (11, 21, '?'),
 (3, 21, 'Columbia'),
 (2, 21, 'Cuba'),
 (3, 21, 'Dominican-Republic'),
 (1, 21, 'Ecuador'),
 (2, 21, 'El-Salvador'),
 (1, 21, 'England'),
 (3, 21, 'Germany'),
 (2, 21, 'Guatemala'),
 (1, 21, 'India'),
 (1, 21, 'Italy'),
 (3, 21, 'Jamaica'),
 (24, 21, 'Mexico'),
 (1, 21, 'Nicaragua'),
 (1, 21, 'Outlying-US(Guam-USVI-etc)'),
 (1, 21, 'Peru'),
 (1, 21, 'Philippines'),
 (1, 21, 'Poland'),
 (1, 21, 'Portugal'),
 (1, 21, 'Puerto-Rico'),
 (1, 21, 'South'),
 (1, 21, 'Taiwan'),
 (651, 21, 'United-States'),
 (3, 21, 'Vietnam'),
 (12, 22, '?'),
 (1, 22, 'Canada'),
 (1, 22, 'China'),
 (3, 22, 'Dominican-Republic'),
 (2, 22, 'El-Salvador'),
 (1, 22, 'England'),
 (4, 22, 'Germany'),
 (2, 22, 'Greece'),
 (3, 22, 'Guatemala'),
 (2, 22, 'Haiti'),
 (2, 22, 'India'),
 (2, 22, 'Iran'),
 (1, 22, 'Italy'),
 (3, 22, 'Jamaica'),
 (24, 22, 'Mexico'),
 (1, 22, 'Peru'),
 (4, 22, 'Philippines'),
 (1, 22, 'Portugal'),
 (1, 22, 'Puerto-Rico'),
 (5, 22, 'South'),
 (2, 22, 'Taiwan'),
 (1, 22, 'Thailand'),
 (683, 22, 'United-States'),
 (3, 22, 'Vietnam'),
 (1, 22, 'Yugoslavia'),
 (6, 23, '?'),
 (3, 23, 'Canada'),
 (2, 23, 'China'),
 (2, 23, 'Columbia'),
 (3, 23, 'Cuba'),
 (4, 23, 'Dominican-Republic'),
 (1, 23, 'Ecuador'),
 (6, 23, 'El-Salvador'),
 (2, 23, 'England'),
 (1, 23, 'Germany'),
 (1, 23, 'Greece'),
 (4, 23, 'Guatemala'),
 (2, 23, 'Haiti'),
 (1, 23, 'India'),
 (1, 23, 'Iran'),
 (2, 23, 'Ireland'),
 (2, 23, 'Jamaica'),
 (1, 23, 'Laos'),
 (32, 23, 'Mexico'),
 (1, 23, 'Outlying-US(Guam-USVI-etc)'),
 (1, 23, 'Peru'),
 (6, 23, 'Philippines'),
 (2, 23, 'Poland'),
 (1, 23, 'Portugal'),
 (5, 23, 'Puerto-Rico'),
 (3, 23, 'South'),
 (1, 23, 'Taiwan'),
 (771, 23, 'United-States'),
 (10, 23, 'Vietnam'),
 (14, 24, '?'),
 (3, 24, 'Canada'),
 (2, 24, 'China'),
 (3, 24, 'Dominican-Republic'),
 (2, 24, 'Ecuador'),
 (7, 24, 'El-Salvador'),
 (3, 24, 'England'),
 (1, 24, 'France'),
 (2, 24, 'Germany'),
 (1, 24, 'Greece'),
 (1, 24, 'Guatemala'),
 (2, 24, 'Haiti'),
 (1, 24, 'Hungary'),
 (2, 24, 'India'),
 (1, 24, 'Iran'),
 (1, 24, 'Italy'),
 (4, 24, 'Jamaica'),
 (1, 24, 'Japan'),
 (1, 24, 'Laos'),
 (25, 24, 'Mexico'),
 (1, 24, 'Peru'),
 (5, 24, 'Philippines'),
 (1, 24, 'Portugal'),
 (1, 24, 'Puerto-Rico'),
 (3, 24, 'South'),
 (2, 24, 'Taiwan'),
 (1, 24, 'Thailand'),
 (705, 24, 'United-States'),
 (2, 24, 'Vietnam'),
 (11, 25, '?'),
 (1, 25, 'Cambodia'),
 (5, 25, 'Canada'),
 (1, 25, 'China'),
 (4, 25, 'Columbia'),
 (1, 25, 'Cuba'),
 (2, 25, 'Dominican-Republic'),
 (1, 25, 'Ecuador'),
 (8, 25, 'El-Salvador'),
 (1, 25, 'England'),
 (6, 25, 'Guatemala'),
 (3, 25, 'India'),
 (2, 25, 'Italy'),
 (4, 25, 'Jamaica'),
 (1, 25, 'Japan'),
 (39, 25, 'Mexico'),
 (1, 25, 'Nicaragua'),
 (1, 25, 'Outlying-US(Guam-USVI-etc)'),
 (1, 25, 'Peru'),
 (3, 25, 'Philippines'),
 (3, 25, 'Poland'),
 (1, 25, 'Puerto-Rico'),
 (3, 25, 'Taiwan'),
 (734, 25, 'United-States'),
 (3, 25, 'Vietnam'),
 (1, 25, 'Yugoslavia'),
 (18, 26, '?'),
 (2, 26, 'Canada'),
 (3, 26, 'Columbia'),
 (3, 26, 'Dominican-Republic'),
 (3, 26, 'El-Salvador'),
 (1, 26, 'England'),
 (3, 26, 'Germany'),
 (2, 26, 'Guatemala'),
 (1, 26, 'Honduras'),
 (2, 26, 'Hong'),
 (1, 26, 'Hungary'),
 (3, 26, 'India'),
 (3, 26, 'Jamaica'),
 (2, 26, 'Japan'),
 (22, 26, 'Mexico'),
 (1, 26, 'Nicaragua'),
 (1, 26, 'Outlying-US(Guam-USVI-etc)'),
 (1, 26, 'Peru'),
 (6, 26, 'Philippines'),
 (2, 26, 'Poland'),
 (1, 26, 'Portugal'),
 (3, 26, 'Puerto-Rico'),
 (3, 26, 'South'),
 (2, 26, 'Taiwan'),
 (1, 26, 'Thailand'),
 (694, 26, 'United-States'),
 (1, 26, 'Vietnam'),
 (15, 27, '?'),
 (2, 27, 'Cambodia'),
 (2, 27, 'Canada'),
 (1, 27, 'China'),
 (1, 27, 'Cuba'),
 (4, 27, 'Dominican-Republic'),
 (1, 27, 'Ecuador'),
 (3, 27, 'El-Salvador'),
 (1, 27, 'England'),
 (1, 27, 'France'),
 (3, 27, 'Germany'),
 (1, 27, 'Greece'),
 (6, 27, 'Guatemala'),
 (2, 27, 'Hong'),
 (4, 27, 'India'),
 (2, 27, 'Ireland'),
 (4, 27, 'Jamaica'),
 (3, 27, 'Japan'),
 (2, 27, 'Laos'),
 (27, 27, 'Mexico'),
 (1, 27, 'Nicaragua'),
 (1, 27, 'Peru'),
 (11, 27, 'Philippines'),
 (2, 27, 'Poland'),
 (1, 27, 'Portugal'),
 (2, 27, 'Puerto-Rico'),
 (1, 27, 'Scotland'),
 (2, 27, 'South'),
 (1, 27, 'Taiwan'),
 (727, 27, 'United-States'),
 (1, 27, 'Vietnam'),
 (19, 28, '?'),
 (1, 28, 'Cambodia'),
 (3, 28, 'Canada'),
 (1, 28, 'China'),
 (2, 28, 'Columbia'),
 (3, 28, 'Cuba'),
 (2, 28, 'Dominican-Republic'),
 (2, 28, 'Ecuador'),
 (3, 28, 'El-Salvador'),
 (3, 28, 'England'),
 (2, 28, 'France'),
 (5, 28, 'Germany'),
 (2, 28, 'Guatemala'),
 (2, 28, 'Haiti'),
 (2, 28, 'Honduras'),
 (2, 28, 'Hong'),
 (1, 28, 'Hungary'),
 (3, 28, 'India'),
 (1, 28, 'Italy'),
 (5, 28, 'Jamaica'),
 (33, 28, 'Mexico'),
 (2, 28, 'Nicaragua'),
 (5, 28, 'Philippines'),
 (2, 28, 'Poland'),
 (2, 28, 'Portugal'),
 (4, 28, 'Puerto-Rico'),
 (1, 28, 'South'),
 (2, 28, 'Taiwan'),
 (1, 28, 'Trinadad&Tobago'),
 (751, 28, 'United-States'),
 (12, 29, '?'),
 (4, 29, 'Canada'),
 (1, 29, 'China'),
 (3, 29, 'Columbia'),
 (1, 29, 'Cuba'),
 (3, 29, 'Dominican-Republic'),
 (4, 29, 'Ecuador'),
 (4, 29, 'El-Salvador'),
 (2, 29, 'England'),
 (2, 29, 'France'),
 (8, 29, 'Germany'),
 (3, 29, 'Guatemala'),
 (2, 29, 'Haiti'),
 (1, 29, 'Hong'),
 (4, 29, 'India'),
 (1, 29, 'Iran'),
 (1, 29, 'Ireland'),
 (1, 29, 'Italy'),
 (2, 29, 'Jamaica'),
 (4, 29, 'Japan'),
 (2, 29, 'Laos'),
 (17, 29, 'Mexico'),
 (2, 29, 'Nicaragua'),
 (2, 29, 'Outlying-US(Guam-USVI-etc)'),
 (1, 29, 'Peru'),
 (6, 29, 'Philippines'),
 (1, 29, 'Poland'),
 (1, 29, 'Portugal'),
 (1, 29, 'Puerto-Rico'),
 (2, 29, 'Scotland'),
 (2, 29, 'South'),
 (4, 29, 'Taiwan'),
 (1, 29, 'Thailand'),
 (706, 29, 'United-States'),
 (1, 29, 'Vietnam'),
 (1, 29, 'Yugoslavia'),
 (19, 30, '?'),
 (3, 30, 'Canada'),
 (4, 30, 'China'),
 (1, 30, 'Cuba'),
 (1, 30, 'Dominican-Republic'),
 (1, 30, 'Ecuador'),
 (1, 30, 'El-Salvador'),
 (4, 30, 'England'),
 (1, 30, 'France'),
 (8, 30, 'Germany'),
 (2, 30, 'Guatemala'),
 (1, 30, 'Haiti'),
 (1, 30, 'Honduras'),
 (1, 30, 'Hong'),
 (1, 30, 'Hungary'),
 (5, 30, 'India'),
 (2, 30, 'Iran'),
 (4, 30, 'Ireland'),
 (1, 30, 'Jamaica'),
 (1, 30, 'Japan'),
 (1, 30, 'Laos'),
 (21, 30, 'Mexico'),
 (2, 30, 'Nicaragua'),
 (1, 30, 'Outlying-US(Guam-USVI-etc)'),
 (1, 30, 'Peru'),
 (2, 30, 'Philippines'),
 (2, 30, 'Poland'),
 (1, 30, 'Portugal'),
 (2, 30, 'Puerto-Rico'),
 (3, 30, 'South'),
 (5, 30, 'Taiwan'),
 (1, 30, 'Thailand'),
 (749, 30, 'United-States'),
 (8, 30, 'Vietnam'),
 (18, 31, '?'),
 (2, 31, 'Canada'),
 (2, 31, 'China'),
 (2, 31, 'Columbia'),
 (3, 31, 'Cuba'),
 (2, 31, 'El-Salvador'),
 (2, 31, 'England'),
 (1, 31, 'France'),
 (4, 31, 'Germany'),
 (2, 31, 'Honduras'),
 (5, 31, 'India'),
 (1, 31, 'Ireland'),
 (3, 31, 'Italy'),
 (3, 31, 'Jamaica'),
 (1, 31, 'Japan'),
 (33, 31, 'Mexico'),
 (3, 31, 'Philippines'),
 (1, 31, 'Poland'),
 (1, 31, 'Portugal'),
 (4, 31, 'Puerto-Rico'),
 (3, 31, 'South'),
 (2, 31, 'Taiwan'),
 (1, 31, 'Thailand'),
 (1, 31, 'Trinadad&Tobago'),
 (785, 31, 'United-States'),
 (2, 31, 'Vietnam'),
 (1, 31, 'Yugoslavia'),
 (17, 32, '?'),
 (1, 32, 'Cambodia'),
 (3, 32, 'Canada'),
 (2, 32, 'China'),
 (3, 32, 'Columbia'),
 (1, 32, 'Cuba'),
 (1, 32, 'Dominican-Republic'),
 (2, 32, 'Ecuador'),
 (1, 32, 'El-Salvador'),
 (3, 32, 'England'),
 (1, 32, 'France'),
 (3, 32, 'Germany'),
 (2, 32, 'Greece'),
 (1, 32, 'Guatemala'),
 (1, 32, 'Haiti'),
 (1, 32, 'Holand-Netherlands'),
 (1, 32, 'Hong'),
 (3, 32, 'India'),
 (3, 32, 'Iran'),
 (4, 32, 'Ireland'),
 (2, 32, 'Italy'),
 (3, 32, 'Jamaica'),
 (1, 32, 'Japan'),
 (1, 32, 'Laos'),
 (21, 32, 'Mexico'),
 (3, 32, 'Nicaragua'),
 (3, 32, 'Philippines'),
 (2, 32, 'Puerto-Rico'),
 (2, 32, 'South'),
 (1, 32, 'Taiwan'),
 (1, 32, 'Trinadad&Tobago'),
 (734, 32, 'United-States'),
 (13, 33, '?'),
 (4, 33, 'Canada'),
 (4, 33, 'China'),
 (2, 33, 'Columbia'),
 (4, 33, 'Cuba'),
 (1, 33, 'Ecuador'),
 (6, 33, 'El-Salvador'),
 (3, 33, 'England'),
 (2, 33, 'France'),
 (5, 33, 'Germany'),
 (2, 33, 'Guatemala'),
 (2, 33, 'Haiti'),
 (2, 33, 'Hong'),
 (3, 33, 'India'),
 (1, 33, 'Iran'),
 (1, 33, 'Italy'),
 (2, 33, 'Jamaica'),
 (4, 33, 'Japan'),
 (22, 33, 'Mexico'),
 (1, 33, 'Nicaragua'),
 (2, 33, 'Peru'),
 (6, 33, 'Philippines'),
 (1, 33, 'Portugal'),
 (2, 33, 'Puerto-Rico'),
 (2, 33, 'South'),
 (1, 33, 'Taiwan'),
 (2, 33, 'Thailand'),
 (1, 33, 'Trinadad&Tobago'),
 (773, 33, 'United-States'),
 (1, 33, 'Vietnam'),
 (24, 34, '?'),
 (1, 34, 'Cambodia'),
 (1, 34, 'Canada'),
 (4, 34, 'China'),
 (2, 34, 'Columbia'),
 (1, 34, 'Cuba'),
 (2, 34, 'Dominican-Republic'),
 (3, 34, 'El-Salvador'),
 (5, 34, 'England'),
 (3, 34, 'France'),
 (8, 34, 'Germany'),
 (3, 34, 'Guatemala'),
 (1, 34, 'Haiti'),
 (4, 34, 'India'),
 (2, 34, 'Iran'),
 (1, 34, 'Ireland'),
 (1, 34, 'Italy'),
 (4, 34, 'Jamaica'),
 (2, 34, 'Japan'),
 (12, 34, 'Mexico'),
 (1, 34, 'Nicaragua'),
 (1, 34, 'Peru'),
 (7, 34, 'Philippines'),
 (3, 34, 'Portugal'),
 (2, 34, 'Puerto-Rico'),
 (2, 34, 'South'),
 (2, 34, 'Taiwan'),
 (784, 34, 'United-States'),
 (18, 35, '?'),
 (1, 35, 'Cambodia'),
 (1, 35, 'Canada'),
 (2, 35, 'China'),
 (1, 35, 'Cuba'),
 (1, 35, 'Dominican-Republic'),
 (1, 35, 'Ecuador'),
 (5, 35, 'Germany'),
 (1, 35, 'Guatemala'),
 (1, 35, 'Haiti'),
 (1, 35, 'Hong'),
 (4, 35, 'India'),
 (2, 35, 'Iran'),
 (1, 35, 'Ireland'),
 (4, 35, 'Jamaica'),
 (2, 35, 'Japan'),
 (15, 35, 'Mexico'),
 (1, 35, 'Peru'),
 (8, 35, 'Philippines'),
 (2, 35, 'Poland'),
 (6, 35, 'Puerto-Rico'),
 (1, 35, 'South'),
 (3, 35, 'Taiwan'),
 (1, 35, 'Trinadad&Tobago'),
 (789, 35, 'United-States'),
 (2, 35, 'Vietnam'),
 (2, 35, 'Yugoslavia'),
 (23, 36, '?'),
 (1, 36, 'Cambodia'),
 (4, 36, 'Canada'),
 (3, 36, 'China'),
 (2, 36, 'Columbia'),
 (1, 36, 'Cuba'),
 (1, 36, 'Ecuador'),
 (3, 36, 'El-Salvador'),
 (2, 36, 'England'),
 (4, 36, 'Germany'),
 (1, 36, 'Guatemala'),
 (2, 36, 'Haiti'),
 (1, 36, 'Honduras'),
 (1, 36, 'Hong'),
 (3, 36, 'India'),
 (4, 36, 'Iran'),
 (2, 36, 'Italy'),
 (1, 36, 'Jamaica'),
 (3, 36, 'Japan'),
 (2, 36, 'Laos'),
 (18, 36, 'Mexico'),
 (1, 36, 'Nicaragua'),
 (3, 36, 'Philippines'),
 (2, 36, 'Puerto-Rico'),
 (4, 36, 'South'),
 (3, 36, 'Taiwan'),
 (801, 36, 'United-States'),
 (1, 36, 'Vietnam'),
 (1, 36, 'Yugoslavia'),
 (22, 37, '?'),
 (2, 37, 'Cambodia'),
 (4, 37, 'Canada'),
 (1, 37, 'China'),
 (5, 37, 'Cuba'),
 (1, 37, 'Ecuador'),
 (5, 37, 'El-Salvador'),
 (2, 37, 'England'),
 (2, 37, 'France'),
 (2, 37, 'Germany'),
 (2, 37, 'Guatemala'),
 (2, 37, 'Hong'),
 (2, 37, 'Iran'),
 (1, 37, 'Jamaica'),
 (3, 37, 'Japan'),
 (19, 37, 'Mexico'),
 (1, 37, 'Nicaragua'),
 (1, 37, 'Peru'),
 (8, 37, 'Philippines'),
 (2, 37, 'Portugal'),
 (4, 37, 'Puerto-Rico'),
 (2, 37, 'South'),
 (1, 37, 'Thailand'),
 (762, 37, 'United-States'),
 (2, 37, 'Vietnam'),
 (20, 38, '?'),
 (4, 38, 'Canada'),
 (2, 38, 'Columbia'),
 (4, 38, 'Cuba'),
 (1, 38, 'Dominican-Republic'),
 (1, 38, 'El-Salvador'),
 (2, 38, 'England'),
 (1, 38, 'Germany'),
 (1, 38, 'Guatemala'),
 (2, 38, 'Haiti'),
 (2, 38, 'India'),
 (3, 38, 'Iran'),
 (4, 38, 'Italy'),
 (1, 38, 'Jamaica'),
 (2, 38, 'Japan'),
 (15, 38, 'Mexico'),
 (1, 38, 'Nicaragua'),
 (7, 38, 'Philippines'),
 (4, 38, 'Poland'),
 (3, 38, 'Portugal'),
 (1, 38, 'Puerto-Rico'),
 (1, 38, 'Scotland'),
 (1, 38, 'Taiwan'),
 (2, 38, 'Trinadad&Tobago'),
 (741, 38, 'United-States'),
 (1, 38, 'Vietnam'),
 (19, 39, '?'),
 (1, 39, 'Canada'),
 (2, 39, 'China'),
 (2, 39, 'Columbia'),
 (3, 39, 'Cuba'),
 (4, 39, 'Dominican-Republic'),
 (2, 39, 'El-Salvador'),
 (2, 39, 'England'),
 (1, 39, 'France'),
 (3, 39, 'Germany'),
 (1, 39, 'India'),
 (1, 39, 'Iran'),
 (1, 39, 'Italy'),
 (2, 39, 'Jamaica'),
 (3, 39, 'Japan'),
 (12, 39, 'Mexico'),
 (1, 39, 'Nicaragua'),
 (14, 39, 'Philippines'),
 (5, 39, 'Poland'),
 (3, 39, 'Puerto-Rico'),
 (1, 39, 'South'),
 (733, 39, 'United-States'),
 (12, 40, '?'),
 (2, 40, 'Cambodia'),
 (4, 40, 'Canada'),
 (4, 40, 'China'),
 (3, 40, 'Cuba'),
 (3, 40, 'Dominican-Republic'),
 (2, 40, 'El-Salvador'),
 (3, 40, 'England'),
 (1, 40, 'Germany'),
 (1, 40, 'Greece'),
 (1, 40, 'Guatemala'),
 (1, 40, 'Haiti'),
 (1, 40, 'Hong'),
 (1, 40, 'India'),
 (2, 40, 'Iran'),
 (2, 40, 'Ireland'),
 (2, 40, 'Jamaica'),
 (2, 40, 'Japan'),
 (11, 40, 'Mexico'),
 (3, 40, 'Philippines'),
 (1, 40, 'Poland'),
 (5, 40, 'Puerto-Rico'),
 (1, 40, 'Scotland'),
 (1, 40, 'South'),
 (1, 40, 'Taiwan'),
 (1, 40, 'Trinadad&Tobago'),
 (721, 40, 'United-States'),
 (1, 40, 'Vietnam'),
 (1, 40, 'Yugoslavia'),
 (22, 41, '?'),
 (3, 41, 'Canada'),
 (3, 41, 'China'),
 (1, 41, 'Columbia'),
 (3, 41, 'Cuba'),
 (2, 41, 'Dominican-Republic'),
 (2, 41, 'El-Salvador'),
 (2, 41, 'England'),
 (2, 41, 'Germany'),
 (4, 41, 'Guatemala'),
 (1, 41, 'Haiti'),
 (1, 41, 'Honduras'),
 (1, 41, 'Hong'),
 (3, 41, 'India'),
 (2, 41, 'Iran'),
 (2, 41, 'Italy'),
 (2, 41, 'Jamaica'),
 (5, 41, 'Japan'),
 (20, 41, 'Mexico'),
 (1, 41, 'Nicaragua'),
 (1, 41, 'Outlying-US(Guam-USVI-etc)'),
 (5, 41, 'Peru'),
 (4, 41, 'Philippines'),
 (2, 41, 'Poland'),
 (2, 41, 'Puerto-Rico'),
 (4, 41, 'Taiwan'),
 (705, 41, 'United-States'),
 (1, 41, 'Vietnam'),
 (2, 41, 'Yugoslavia'),
 (24, 42, '?'),
 (1, 42, 'Cambodia'),
 (1, 42, 'Canada'),
 (1, 42, 'Cuba'),
 (1, 42, 'Dominican-Republic'),
 (2, 42, 'Ecuador'),
 (5, 42, 'El-Salvador'),
 (2, 42, 'England'),
 (1, 42, 'France'),
 (1, 42, 'Germany'),
 (2, 42, 'Haiti'),
 (3, 42, 'India'),
 (1, 42, 'Iran'),
 (3, 42, 'Italy'),
 (1, 42, 'Jamaica'),
 (1, 42, 'Laos'),
 (7, 42, 'Mexico'),
 (1, 42, 'Nicaragua'),
 (4, 42, 'Philippines'),
 (2, 42, 'Poland'),
 (8, 42, 'Puerto-Rico'),
 (1, 42, 'Scotland'),
 (2, 42, 'South'),
 (3, 42, 'Taiwan'),
 (1, 42, 'Trinadad&Tobago'),
 (701, 42, 'United-States'),
 (14, 43, '?'),
 (1, 43, 'Canada'),
 (2, 43, 'China'),
 (1, 43, 'Columbia'),
 (2, 43, 'Cuba'),
 (1, 43, 'Dominican-Republic'),
 (2, 43, 'England'),
 (1, 43, 'France'),
 (4, 43, 'Germany'),
 (1, 43, 'Greece'),
 (2, 43, 'Haiti'),
 (3, 43, 'India'),
 (1, 43, 'Iran'),
 (1, 43, 'Italy'),
 (1, 43, 'Jamaica'),
 (1, 43, 'Japan'),
 (16, 43, 'Mexico'),
 (2, 43, 'Nicaragua'),
 (1, 43, 'Outlying-US(Guam-USVI-etc)'),
 (3, 43, 'Philippines'),
 (3, 43, 'Poland'),
 (2, 43, 'Portugal'),
 (1, 43, 'Puerto-Rico'),
 (3, 43, 'South'),
 (2, 43, 'Thailand'),
 (1, 43, 'Trinadad&Tobago'),
 (695, 43, 'United-States'),
 (2, 43, 'Vietnam'),
 (1, 43, 'Yugoslavia'),
 (10, 44, '?'),
 (2, 44, 'Canada'),
 (1, 44, 'China'),
 (2, 44, 'Cuba'),
 (3, 44, 'Dominican-Republic'),
 (1, 44, 'Ecuador'),
 (1, 44, 'El-Salvador'),
 (4, 44, 'England'),
 (1, 44, 'Germany'),
 (1, 44, 'Greece'),
 (2, 44, 'Haiti'),
 (1, 44, 'India'),
 (1, 44, 'Iran'),
 (2, 44, 'Italy'),
 (3, 44, 'Jamaica'),
 (2, 44, 'Japan'),
 (1, 44, 'Laos'),
 (10, 44, 'Mexico'),
 (1, 44, 'Nicaragua'),
 (1, 44, 'Peru'),
 (3, 44, 'Philippines'),
 (3, 44, 'Poland'),
 (1, 44, 'Portugal'),
 (4, 44, 'Puerto-Rico'),
 (1, 44, 'South'),
 (1, 44, 'Taiwan'),
 (658, 44, 'United-States'),
 (3, 44, 'Vietnam'),
 (17, 45, '?'),
 (6, 45, 'Canada'),
 (5, 45, 'China'),
 (2, 45, 'Columbia'),
 (1, 45, 'Cuba'),
 (1, 45, 'Dominican-Republic'),
 (1, 45, 'El-Salvador'),
 (4, 45, 'England'),
 (1, 45, 'France'),
 (5, 45, 'Germany'),
 (1, 45, 'Guatemala'),
 (1, 45, 'Haiti'),
 (4, 45, 'India'),
 (1, 45, 'Iran'),
 (3, 45, 'Japan'),
 (9, 45, 'Mexico'),
 (7, 45, 'Philippines'),
 (1, 45, 'Poland'),
 (1, 45, 'Puerto-Rico'),
 (3, 45, 'South'),
 (1, 45, 'Thailand'),
 (2, 45, 'Trinadad&Tobago'),
 (653, 45, 'United-States'),
 (3, 45, 'Vietnam'),
 (1, 45, 'Yugoslavia'),
 (15, 46, '?'),
 (1, 46, 'Cambodia'),
 (2, 46, 'Canada'),
 (2, 46, 'China'),
 (1, 46, 'Columbia'),
 (2, 46, 'Cuba'),
 (2, 46, 'Dominican-Republic'),
 (2, 46, 'Ecuador'),
 (1, 46, 'El-Salvador'),
 (2, 46, 'England'),
 (6, 46, 'Germany'),
 (1, 46, 'Greece'),
 (4, 46, 'Guatemala'),
 (3, 46, 'India'),
 (1, 46, 'Ireland'),
 (1, 46, 'Italy'),
 (1, 46, 'Jamaica'),
 (1, 46, 'Japan'),
 (10, 46, 'Mexico'),
 (1, 46, 'Peru'),
 (7, 46, 'Philippines'),
 (1, 46, 'Portugal'),
 (2, 46, 'Puerto-Rico'),
 (1, 46, 'South'),
 (1, 46, 'Thailand'),
 (1, 46, 'Trinadad&Tobago'),
 (664, 46, 'United-States'),
 (1, 46, 'Vietnam'),
 (12, 47, '?'),
 (2, 47, 'Canada'),
 (6, 47, 'Cuba'),
 (1, 47, 'Dominican-Republic'),
 (4, 47, 'El-Salvador'),
 (1, 47, 'England'),
 (1, 47, 'France'),
 (5, 47, 'Germany'),
 (2, 47, 'Honduras'),
 (1, 47, 'Hungary'),
 (2, 47, 'India'),
 (3, 47, 'Iran'),
 (4, 47, 'Italy'),
 (1, 47, 'Jamaica'),
 (4, 47, 'Japan'),
 (10, 47, 'Mexico'),
 (2, 47, 'Outlying-US(Guam-USVI-etc)'),
 (2, 47, 'Philippines'),
 (1, 47, 'Portugal'),
 (8, 47, 'Puerto-Rico'),
 (1, 47, 'Scotland'),
 (1, 47, 'South'),
 (1, 47, 'Taiwan'),
 (2, 47, 'Thailand'),
 (631, 47, 'United-States'),
 (5, 48, '?'),
 (1, 48, 'Cambodia'),
 (1, 48, 'Canada'),
 (3, 48, 'China'),
 (1, 48, 'Columbia'),
 (1, 48, 'Cuba'),
 (3, 48, 'Dominican-Republic'),
 (1, 48, 'Ecuador'),
 (2, 48, 'El-Salvador'),
 (3, 48, 'England'),
 (3, 48, 'Germany'),
 (1, 48, 'Greece'),
 (1, 48, 'Haiti'),
 (4, 48, 'India'),
 (1, 48, 'Ireland'),
 (3, 48, 'Italy'),
 (2, 48, 'Jamaica'),
 (2, 48, 'Japan'),
 (7, 48, 'Mexico'),
 (1, 48, 'Nicaragua'),
 (2, 48, 'Peru'),
 (5, 48, 'Philippines'),
 (1, 48, 'Poland'),
 (1, 48, 'Portugal'),
 (1, 48, 'Puerto-Rico'),
 (2, 48, 'South'),
 (1, 48, 'Trinadad&Tobago'),
 (483, 48, 'United-States'),
 (1, 48, 'Vietnam'),
 (4, 49, '?'),
 (2, 49, 'Canada'),
 (1, 49, 'China'),
 (6, 49, 'Columbia'),
 (1, 49, 'Cuba'),
 (1, 49, 'England'),
 (1, 49, 'France'),
 (1, 49, 'Germany'),
 (3, 49, 'Greece'),
 (1, 49, 'Hong'),
 (1, 49, 'Hungary'),
 (2, 49, 'India'),
 (2, 49, 'Italy'),
 (1, 49, 'Jamaica'),
 (1, 49, 'Laos'),
 (3, 49, 'Mexico'),
 (2, 49, 'Peru'),
 (4, 49, 'Philippines'),
 (1, 49, 'Poland'),
 (2, 49, 'Portugal'),
 (3, 49, 'Puerto-Rico'),
 (1, 49, 'Scotland'),
 (2, 49, 'South'),
 (531, 49, 'United-States'),
 (13, 50, '?'),
 (1, 50, 'Cambodia'),
 (3, 50, 'Canada'),
 (1, 50, 'China'),
 (1, 50, 'Columbia'),
 (2, 50, 'Cuba'),
 (2, 50, 'Dominican-Republic'),
 (1, 50, 'Ecuador'),
 (3, 50, 'El-Salvador'),
 (1, 50, 'England'),
 (2, 50, 'Germany'),
 (1, 50, 'India'),
 (1, 50, 'Ireland'),
 (2, 50, 'Italy'),
 (1, 50, 'Jamaica'),
 (1, 50, 'Japan'),
 (1, 50, 'Laos'),
 (4, 50, 'Mexico'),
 (8, 50, 'Philippines'),
 (1, 50, 'Poland'),
 (3, 50, 'Puerto-Rico'),
 (4, 50, 'South'),
 (1, 50, 'Trinadad&Tobago'),
 (543, 50, 'United-States'),
 (1, 50, 'Vietnam'),
 (7, 51, '?'),
 (1, 51, 'Cambodia'),
 (4, 51, 'Canada'),
 (1, 51, 'China'),
 (1, 51, 'Columbia'),
 (1, 51, 'Cuba'),
 (1, 51, 'Dominican-Republic'),
 (2, 51, 'El-Salvador'),
 (1, 51, 'England'),
 (1, 51, 'France'),
 (2, 51, 'Germany'),
 (1, 51, 'Greece'),
 (2, 51, 'Haiti'),
 (2, 51, 'India'),
 (1, 51, 'Iran'),
 (1, 51, 'Ireland'),
 (1, 51, 'Italy'),
 (2, 51, 'Jamaica'),
 (7, 51, 'Mexico'),
 (1, 51, 'Philippines'),
 (1, 51, 'Portugal'),
 (1, 51, 'Puerto-Rico'),
 (1, 51, 'Scotland'),

### 1.7 : Compute a new column as 'Net-Capital-Gain' from the two columns 'capital-gain' and 'capital-loss'

In [167]:
cursor.execute("SELECT (\"capital-gain\" - \"capital-loss\") AS \"Net-Capital-Gain\" FROM ADULT LIMIT 15;")
cursor.fetchall()

[(2174,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (14084,),
 (5178,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,)]

## Task 2 :  SQLALchemy
### Read the following data set: https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data

In [205]:
import pandas as pd
addf=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data",header=None)
addf.columns = ['age','workclass','fnlwgt','education','education_num',
                   'martial_status','occupation','relationship','race','sex',
                   'capital_gain','capital_loss','hours_per_week','native_country','prediction']
addf.head()

,age,workclass,fnlwgt,education,education_num,martial_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,prediction
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 2.1 : Create an sqlalchemy engine using a sample from the data set

In [264]:
import sqlalchemy
from sqlalchemy import create_engine,Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

eng = create_engine('sqlite:///sqlalchemy_adult.db', echo=True)
Base = declarative_base()
session_mk = sessionmaker(bind=eng)
session=session_mk()

class Adult(Base) :
    __tablename__ = 'adult'
    age=Column(Integer)
    workclass=Column(String)
    fnlwgt=Column(Integer, primary_key=True)
    education=Column(String)
    education_num=Column(Integer)
    martial_status=Column(String)
    occupation=Column(String)
    relationship=Column(String)
    race=Column(String)
    sex=Column(String)
    capital_gain=Column(Integer)
    capital_loss=Column(Integer)
    hours_per_week=Column(Integer)
    native_country=Column(String)
    prediction=Column(String)
    
    def __repr__(self):
        return "<Adult(age='%d',workclass='%s', fnlwgt='%d', education='%s', education_num='%d', martial_status='%s', occupation=%s, relationship=%s, race=%s, sex='%s', capital_gain='%d', capital_loss='%d', hours_per_week='%d', native_country='%s', prediction='%s')>" % (self.age, self.workclass, self.fnlwgt, self.education, self.education_num, self.martial_status, self.occupation, self.relationship, self.race, self.sex, self.capital_gain, self.capital_loss, self.hours_per_week, self.native_country, self.prediction)
    
Base.metadata.create_all(eng)

addf[0:101].to_sql('adult', con=eng, index=False, if_exists='replace')

2019-03-21 10:52:55,572 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

2019-03-21 10:52:55,574 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-21 10:52:55,578 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

2019-03-21 10:52:55,582 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-21 10:52:55,585 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adult")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("adult")

2019-03-21 10:52:55,587 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-21 10:52:55,636 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adult")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("adult")

2019-03-21 10:52:55,638 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-21 10:52:55,656 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adult")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("adult")

2019-03-21 10:52:55,664 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-21 10:52:55,672 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

INFO:sqlalchemy.engine.base.Engine:SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

2019-03-21 10:52:55,675 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-21 10:52:55,680 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adult")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("adult")

2019-03-21 10:52:55,685 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-21 10:52:55,690 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'adult' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'adult' AND type = 'table'

2019-03-21 10:52:55,692 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-21 10:52:55,699 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("adult")

INFO:sqlalchemy.engine.base.Engine:PRAGMA foreign_key_list("adult")

2019-03-21 10:52:55,701 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-21 10:52:55,703 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'adult' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'adult' AND type = 'table'

2019-03-21 10:52:55,705 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-21 10:52:55,709 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("adult")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("adult")

2019-03-21 10:52:55,711 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-21 10:52:55,715 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("adult")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("adult")

2019-03-21 10:52:55,718 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-21 10:52:55,727 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'adult' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'adult' AND type = 'table'

2019-03-21 10:52:55,730 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-21 10:52:55,736 INFO sqlalchemy.engine.base.Engine
DROP TABLE adult

INFO:sqlalchemy.engine.base.Engine:
DROP TABLE adult

2019-03-21 10:52:55,738 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-21 10:52:55,896 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2019-03-21 10:52:55,916 INFO sqlalchemy.engine.base.Engine
CREATE TABLE adult (
	age BIGINT,
	workclass TEXT,
	fnlwgt BIGINT,
	education TEXT,
	education_num BIGINT,
	martial_status TEXT,
	occupation TEXT,
	relationship TEXT,
	race TEXT,
	sex TEXT,
	capital_gain BIGINT,
	capital_loss BIGINT,
	hours_per_week BIGINT,
	native_country TEXT,
	prediction TEXT
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE adult (
	age BIGINT,
	workclass TEXT,
	fnlwgt BIGINT,
	education TEXT,
	education_num BIGINT,
	martial_status TEXT,
	occupation TEXT,
	relationship TEXT,
	race TEXT,
	sex TEXT,
	capital_gain BIGINT,
	capital_loss BIGINT,
	hours_per_week BIGINT,
	native_country TEXT,
	prediction TEXT
)

2019-03-21 10:52:55,918 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-21 10:52:55,994 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2019-03-21 10:52:56,008 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)

2019-03-21 10:52:56,015 INFO sqlalchemy.engine.base.Engine INSERT INTO adult (age, workclass, fnlwgt, education, education_num, martial_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, prediction) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO adult (age, workclass, fnlwgt, education, education_num, martial_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, prediction) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

2019-03-21 10:52:56,017 INFO sqlalchemy.engine.base.Engine ((39, ' State-gov', 77516, ' Bachelors', 13, ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2174, 0, 40, ' United-States', ' <=50K'), (50, ' Self-emp-not-inc', 83311, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 13, ' United-States', ' <=50K'), (38, ' Private', 215646, ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (53, ' Private', 234721, ' 11th', 7, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' Black', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (28, ' Private', 338409, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' Black', ' Female', 0, 0, 40, ' Cuba', ' <=50K'), (37, ' Private', 284582, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'), (49, ' Private', 160187, ' 9th', 5, ' Married-spouse-absent', ' Other-service', ' Not-in-family', ' Black', ' Female', 0, 0, 16, ' Jamaica', ' <=50K'), (52, ' Self-emp-not-inc', 209642, ' HS-grad', 9, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 45, ' United-States', ' >50K')  ... displaying 10 of 101 total bound parameter sets ...  (32, ' Federal-gov', 249409, ' HS-grad', 9, ' Never-married', ' Other-service', ' Own-child', ' Black', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (76, ' Private', 124191, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'))

INFO:sqlalchemy.engine.base.Engine:((39, ' State-gov', 77516, ' Bachelors', 13, ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2174, 0, 40, ' United-States', ' <=50K'), (50, ' Self-emp-not-inc', 83311, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 13, ' United-States', ' <=50K'), (38, ' Private', 215646, ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (53, ' Private', 234721, ' 11th', 7, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' Black', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (28, ' Private', 338409, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' Black', ' Female', 0, 0, 40, ' Cuba', ' <=50K'), (37, ' Private', 284582, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'), (49, ' Private', 160187, ' 9th', 5, ' Married-spouse-absent', ' Other-service', ' Not-in-family', ' Black', ' Female', 0, 0, 16, ' Jamaica', ' <=50K'), (52, ' Self-emp-not-inc', 209642, ' HS-grad', 9, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 45, ' United-States', ' >50K')  ... displaying 10 of 101 total bound parameter sets ...  (32, ' Federal-gov', 249409, ' HS-grad', 9, ' Never-married', ' Other-service', ' Own-child', ' Black', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (76, ' Private', 124191, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'))

2019-03-21 10:52:56,028 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

### 2.2 : Write two basic update queries

In [271]:
adult1 = session.query(Adult).filter_by(age='31').all()
adult1

2019-03-21 10:55:08,508 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)

2019-03-21 10:55:08,514 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.age = ?

INFO:sqlalchemy.engine.base.Engine:SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.age = ?

2019-03-21 10:55:08,517 INFO sqlalchemy.engine.base.Engine ('31',)

INFO:sqlalchemy.engine.base.Engine:('31',)

[<Adult(age='31',workclass=' Private', fnlwgt='45781', education=' Masters', education_num='14', martial_status=' Never-married', occupation= Prof-specialty, relationship= Not-in-family, race= White, sex=' Female', capital_gain='14084', capital_loss='0', hours_per_week='50', native_country=' United-States', prediction=' >50K')>,
 <Adult(age='31',workclass=' Private', fnlwgt='84154', education=' Some-college', education_num='10', martial_status=' Married-civ-spouse', occupation= Sales, relationship= Husband, race= White, sex=' Male', capital_gain='0', capital_loss='0', hours_per_week='38', native_country=' ?', prediction=' >50K')>,
 <Adult(age='31',workclass=' Private', fnlwgt='507875', education=' 9th', education_num='5', martial_status=' Married-civ-spouse', occupation= Machine-op-inspct, relationship= Husband, race= White, sex=' Male', capital_gain='0', capital_loss='0', hours_per_week='43', native_country=' United-States', prediction=' <=50K')>,
 <Adult(age='31',workclass=' Private', fnlwgt='309974', education=' Bachelors', education_num='13', martial_status=' Separated', occupation= Sales, relationship= Own-child, race= Black, sex=' Female', capital_gain='0', capital_loss='0', hours_per_week='40', native_country=' United-States', prediction=' <=50K')>,
 <Adult(age='31',workclass=' Local-gov', fnlwgt='125927', education=' 7th-8th', education_num='4', martial_status=' Married-civ-spouse', occupation= Farming-fishing, relationship= Husband, race= White, sex=' Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country=' United-States', prediction=' <=50K')>]

In [272]:
adult2 = session.query(Adult).filter_by(education=' 11th').all()
adult2

2019-03-21 10:55:17,322 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.education = ?

INFO:sqlalchemy.engine.base.Engine:SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.education = ?

2019-03-21 10:55:17,326 INFO sqlalchemy.engine.base.Engine (' 11th',)

INFO:sqlalchemy.engine.base.Engine:(' 11th',)

[<Adult(age='53',workclass=' Private', fnlwgt='234721', education=' 11th', education_num='7', martial_status=' Married-civ-spouse', occupation= Handlers-cleaners, relationship= Husband, race= Black, sex=' Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country=' United-States', prediction=' <=50K')>,
 <Adult(age='38',workclass=' Private', fnlwgt='28887', education=' 11th', education_num='7', martial_status=' Married-civ-spouse', occupation= Sales, relationship= Husband, race= White, sex=' Male', capital_gain='0', capital_loss='0', hours_per_week='50', native_country=' United-States', prediction=' <=50K')>,
 <Adult(age='43',workclass=' Private', fnlwgt='117037', education=' 11th', education_num='7', martial_status=' Married-civ-spouse', occupation= Transport-moving, relationship= Husband, race= White, sex=' Male', capital_gain='0', capital_loss='2042', hours_per_week='40', native_country=' United-States', prediction=' <=50K')>,
 <Adult(age='48',workclass=' Private', fnlwgt='242406', education=' 11th', education_num='7', martial_status=' Never-married', occupation= Machine-op-inspct, relationship= Unmarried, race= White, sex=' Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country=' Puerto-Rico', prediction=' <=50K')>,
 <Adult(age='18',workclass=' Private', fnlwgt='309634', education=' 11th', education_num='7', martial_status=' Never-married', occupation= Other-service, relationship= Own-child, race= White, sex=' Female', capital_gain='0', capital_loss='0', hours_per_week='22', native_country=' United-States', prediction=' <=50K')>]

In [273]:
adult1[0].education = 'PhD'
adult2[0].sex = 'Female'
session.dirty
session.commit()

2019-03-21 10:55:38,876 INFO sqlalchemy.engine.base.Engine UPDATE adult SET education=? WHERE adult.fnlwgt = ?

INFO:sqlalchemy.engine.base.Engine:UPDATE adult SET education=? WHERE adult.fnlwgt = ?

2019-03-21 10:55:38,878 INFO sqlalchemy.engine.base.Engine ('PhD', 45781)

INFO:sqlalchemy.engine.base.Engine:('PhD', 45781)

2019-03-21 10:55:38,915 INFO sqlalchemy.engine.base.Engine UPDATE adult SET sex=? WHERE adult.fnlwgt = ?

INFO:sqlalchemy.engine.base.Engine:UPDATE adult SET sex=? WHERE adult.fnlwgt = ?

2019-03-21 10:55:38,917 INFO sqlalchemy.engine.base.Engine ('Female', 234721)

INFO:sqlalchemy.engine.base.Engine:('Female', 234721)

2019-03-21 10:55:38,921 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [274]:
adult1

2019-03-21 10:55:44,771 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)

2019-03-21 10:55:44,775 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.fnlwgt = ?

INFO:sqlalchemy.engine.base.Engine:SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.fnlwgt = ?

2019-03-21 10:55:44,778 INFO sqlalchemy.engine.base.Engine (45781,)

INFO:sqlalchemy.engine.base.Engine:(45781,)

2019-03-21 10:55:44,784 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.fnlwgt = ?

INFO:sqlalchemy.engine.base.Engine:SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.fnlwgt = ?

2019-03-21 10:55:44,786 INFO sqlalchemy.engine.base.Engine (84154,)

INFO:sqlalchemy.engine.base.Engine:(84154,)

2019-03-21 10:55:44,792 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.fnlwgt = ?

INFO:sqlalchemy.engine.base.Engine:SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.fnlwgt = ?

2019-03-21 10:55:44,794 INFO sqlalchemy.engine.base.Engine (507875,)

INFO:sqlalchemy.engine.base.Engine:(507875,)

2019-03-21 10:55:44,798 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.fnlwgt = ?

INFO:sqlalchemy.engine.base.Engine:SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.fnlwgt = ?

2019-03-21 10:55:44,802 INFO sqlalchemy.engine.base.Engine (309974,)

INFO:sqlalchemy.engine.base.Engine:(309974,)

2019-03-21 10:55:44,807 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.fnlwgt = ?

INFO:sqlalchemy.engine.base.Engine:SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.fnlwgt = ?

2019-03-21 10:55:44,809 INFO sqlalchemy.engine.base.Engine (125927,)

INFO:sqlalchemy.engine.base.Engine:(125927,)

[<Adult(age='31',workclass=' Private', fnlwgt='45781', education='PhD', education_num='14', martial_status=' Never-married', occupation= Prof-specialty, relationship= Not-in-family, race= White, sex=' Female', capital_gain='14084', capital_loss='0', hours_per_week='50', native_country=' United-States', prediction=' >50K')>,
 <Adult(age='31',workclass=' Private', fnlwgt='84154', education=' Some-college', education_num='10', martial_status=' Married-civ-spouse', occupation= Sales, relationship= Husband, race= White, sex=' Male', capital_gain='0', capital_loss='0', hours_per_week='38', native_country=' ?', prediction=' >50K')>,
 <Adult(age='31',workclass=' Private', fnlwgt='507875', education=' 9th', education_num='5', martial_status=' Married-civ-spouse', occupation= Machine-op-inspct, relationship= Husband, race= White, sex=' Male', capital_gain='0', capital_loss='0', hours_per_week='43', native_country=' United-States', prediction=' <=50K')>,
 <Adult(age='31',workclass=' Private', fnlwgt='309974', education=' Bachelors', education_num='13', martial_status=' Separated', occupation= Sales, relationship= Own-child, race= Black, sex=' Female', capital_gain='0', capital_loss='0', hours_per_week='40', native_country=' United-States', prediction=' <=50K')>,
 <Adult(age='31',workclass=' Local-gov', fnlwgt='125927', education=' 7th-8th', education_num='4', martial_status=' Married-civ-spouse', occupation= Farming-fishing, relationship= Husband, race= White, sex=' Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country=' United-States', prediction=' <=50K')>]

In [275]:
adult2

2019-03-21 10:56:00,444 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.fnlwgt = ?

INFO:sqlalchemy.engine.base.Engine:SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.fnlwgt = ?

2019-03-21 10:56:00,447 INFO sqlalchemy.engine.base.Engine (234721,)

INFO:sqlalchemy.engine.base.Engine:(234721,)

2019-03-21 10:56:00,453 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.fnlwgt = ?

INFO:sqlalchemy.engine.base.Engine:SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.fnlwgt = ?

2019-03-21 10:56:00,456 INFO sqlalchemy.engine.base.Engine (28887,)

INFO:sqlalchemy.engine.base.Engine:(28887,)

2019-03-21 10:56:00,461 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.fnlwgt = ?

INFO:sqlalchemy.engine.base.Engine:SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.fnlwgt = ?

2019-03-21 10:56:00,464 INFO sqlalchemy.engine.base.Engine (117037,)

INFO:sqlalchemy.engine.base.Engine:(117037,)

2019-03-21 10:56:00,469 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.fnlwgt = ?

INFO:sqlalchemy.engine.base.Engine:SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.fnlwgt = ?

2019-03-21 10:56:00,472 INFO sqlalchemy.engine.base.Engine (242406,)

INFO:sqlalchemy.engine.base.Engine:(242406,)

2019-03-21 10:56:00,477 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.fnlwgt = ?

INFO:sqlalchemy.engine.base.Engine:SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.fnlwgt = ?

2019-03-21 10:56:00,479 INFO sqlalchemy.engine.base.Engine (309634,)

INFO:sqlalchemy.engine.base.Engine:(309634,)

[<Adult(age='53',workclass=' Private', fnlwgt='234721', education=' 11th', education_num='7', martial_status=' Married-civ-spouse', occupation= Handlers-cleaners, relationship= Husband, race= Black, sex='Female', capital_gain='0', capital_loss='0', hours_per_week='40', native_country=' United-States', prediction=' <=50K')>,
 <Adult(age='38',workclass=' Private', fnlwgt='28887', education=' 11th', education_num='7', martial_status=' Married-civ-spouse', occupation= Sales, relationship= Husband, race= White, sex=' Male', capital_gain='0', capital_loss='0', hours_per_week='50', native_country=' United-States', prediction=' <=50K')>,
 <Adult(age='43',workclass=' Private', fnlwgt='117037', education=' 11th', education_num='7', martial_status=' Married-civ-spouse', occupation= Transport-moving, relationship= Husband, race= White, sex=' Male', capital_gain='0', capital_loss='2042', hours_per_week='40', native_country=' United-States', prediction=' <=50K')>,
 <Adult(age='48',workclass=' Private', fnlwgt='242406', education=' 11th', education_num='7', martial_status=' Never-married', occupation= Machine-op-inspct, relationship= Unmarried, race= White, sex=' Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country=' Puerto-Rico', prediction=' <=50K')>,
 <Adult(age='18',workclass=' Private', fnlwgt='309634', education=' 11th', education_num='7', martial_status=' Never-married', occupation= Other-service, relationship= Own-child, race= White, sex=' Female', capital_gain='0', capital_loss='0', hours_per_week='22', native_country=' United-States', prediction=' <=50K')>]

In [276]:
from sqlalchemy import update
stmt = update(Adult).where(Adult.workclass==' State-gov').values(hours_per_week='8')
session.execute(stmt)
session.rollback()

2019-03-21 10:56:11,193 INFO sqlalchemy.engine.base.Engine UPDATE adult SET hours_per_week=? WHERE adult.workclass = ?

INFO:sqlalchemy.engine.base.Engine:UPDATE adult SET hours_per_week=? WHERE adult.workclass = ?

2019-03-21 10:56:11,196 INFO sqlalchemy.engine.base.Engine ('8', ' State-gov')

INFO:sqlalchemy.engine.base.Engine:('8', ' State-gov')

2019-03-21 10:56:11,202 INFO sqlalchemy.engine.base.Engine ROLLBACK

INFO:sqlalchemy.engine.base.Engine:ROLLBACK

### 2.3 : Write two delete queries

In [277]:
from sqlalchemy import delete,and_,or_
stmt1 = delete(Adult).where(and_(Adult.workclass==' State-gov',Adult.age=='31',Adult.sex==' Male'))
stmt2 = delete(Adult).where(or_(Adult.capital_gain=='0',Adult.hours_per_week<'30'))
session.execute(stmt1)
session.execute(stmt2)
session.commit()

2019-03-21 10:56:20,234 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)

2019-03-21 10:56:20,237 INFO sqlalchemy.engine.base.Engine DELETE FROM adult WHERE adult.workclass = ? AND adult.age = ? AND adult.sex = ?

INFO:sqlalchemy.engine.base.Engine:DELETE FROM adult WHERE adult.workclass = ? AND adult.age = ? AND adult.sex = ?

2019-03-21 10:56:20,240 INFO sqlalchemy.engine.base.Engine (' State-gov', '31', ' Male')

INFO:sqlalchemy.engine.base.Engine:(' State-gov', '31', ' Male')

2019-03-21 10:56:20,243 INFO sqlalchemy.engine.base.Engine DELETE FROM adult WHERE adult.capital_gain = ? OR adult.hours_per_week < ?

INFO:sqlalchemy.engine.base.Engine:DELETE FROM adult WHERE adult.capital_gain = ? OR adult.hours_per_week < ?

2019-03-21 10:56:20,245 INFO sqlalchemy.engine.base.Engine ('0', '30')

INFO:sqlalchemy.engine.base.Engine:('0', '30')

2019-03-21 10:56:20,640 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

### 2.4 : Write two filter queries

In [278]:
adult3 = session.query(Adult).filter(Adult.age>='31').all()
adult3

2019-03-21 10:56:28,303 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)

2019-03-21 10:56:28,307 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.age >= ?

INFO:sqlalchemy.engine.base.Engine:SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.age >= ?

2019-03-21 10:56:28,310 INFO sqlalchemy.engine.base.Engine ('31',)

INFO:sqlalchemy.engine.base.Engine:('31',)

[<Adult(age='39',workclass=' State-gov', fnlwgt='77516', education=' Bachelors', education_num='13', martial_status=' Never-married', occupation= Adm-clerical, relationship= Not-in-family, race= White, sex=' Male', capital_gain='2174', capital_loss='0', hours_per_week='40', native_country=' United-States', prediction=' <=50K')>,
 <Adult(age='31',workclass=' Private', fnlwgt='45781', education='PhD', education_num='14', martial_status=' Never-married', occupation= Prof-specialty, relationship= Not-in-family, race= White, sex=' Female', capital_gain='14084', capital_loss='0', hours_per_week='50', native_country=' United-States', prediction=' >50K')>,
 <Adult(age='42',workclass=' Private', fnlwgt='159449', education=' Bachelors', education_num='13', martial_status=' Married-civ-spouse', occupation= Exec-managerial, relationship= Husband, race= White, sex=' Male', capital_gain='5178', capital_loss='0', hours_per_week='40', native_country=' United-States', prediction=' >50K')>,
 <Adult(age='44',workclass=' Private', fnlwgt='343591', education=' HS-grad', education_num='9', martial_status=' Divorced', occupation= Craft-repair, relationship= Not-in-family, race= White, sex=' Female', capital_gain='14344', capital_loss='0', hours_per_week='40', native_country=' United-States', prediction=' >50K')>]

In [279]:
adult4 = session.query(Adult).filter(Adult.race.like('%te')).all()
adult4

2019-03-21 10:56:36,776 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.race LIKE ?

INFO:sqlalchemy.engine.base.Engine:SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.martial_status AS adult_martial_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.prediction AS adult_prediction
FROM adult
WHERE adult.race LIKE ?

2019-03-21 10:56:36,779 INFO sqlalchemy.engine.base.Engine ('%te',)

INFO:sqlalchemy.engine.base.Engine:('%te',)

[<Adult(age='39',workclass=' State-gov', fnlwgt='77516', education=' Bachelors', education_num='13', martial_status=' Never-married', occupation= Adm-clerical, relationship= Not-in-family, race= White, sex=' Male', capital_gain='2174', capital_loss='0', hours_per_week='40', native_country=' United-States', prediction=' <=50K')>,
 <Adult(age='31',workclass=' Private', fnlwgt='45781', education='PhD', education_num='14', martial_status=' Never-married', occupation= Prof-specialty, relationship= Not-in-family, race= White, sex=' Female', capital_gain='14084', capital_loss='0', hours_per_week='50', native_country=' United-States', prediction=' >50K')>,
 <Adult(age='42',workclass=' Private', fnlwgt='159449', education=' Bachelors', education_num='13', martial_status=' Married-civ-spouse', occupation= Exec-managerial, relationship= Husband, race= White, sex=' Male', capital_gain='5178', capital_loss='0', hours_per_week='40', native_country=' United-States', prediction=' >50K')>,
 <Adult(age='30',workclass=' Private', fnlwgt='188146', education=' HS-grad', education_num='9', martial_status=' Married-civ-spouse', occupation= Machine-op-inspct, relationship= Husband, race= White, sex=' Male', capital_gain='5013', capital_loss='0', hours_per_week='40', native_country=' United-States', prediction=' <=50K')>,
 <Adult(age='30',workclass=' Private', fnlwgt='59496', education=' Bachelors', education_num='13', martial_status=' Married-civ-spouse', occupation= Sales, relationship= Husband, race= White, sex=' Male', capital_gain='2407', capital_loss='0', hours_per_week='40', native_country=' United-States', prediction=' <=50K')>,
 <Adult(age='44',workclass=' Private', fnlwgt='343591', education=' HS-grad', education_num='9', martial_status=' Divorced', occupation= Craft-repair, relationship= Not-in-family, race= White, sex=' Female', capital_gain='14344', capital_loss='0', hours_per_week='40', native_country=' United-States', prediction=' >50K')>]

### 2.5 : Write two function queries

In [280]:
from sqlalchemy import func
stmt5 = session.query(func.count(Adult.workclass), Adult.workclass).group_by(Adult.workclass).all()
stmt5

2019-03-21 10:57:13,460 INFO sqlalchemy.engine.base.Engine SELECT count(adult.workclass) AS count_1, adult.workclass AS adult_workclass
FROM adult GROUP BY adult.workclass

INFO:sqlalchemy.engine.base.Engine:SELECT count(adult.workclass) AS count_1, adult.workclass AS adult_workclass
FROM adult GROUP BY adult.workclass

2019-03-21 10:57:13,463 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[(5, ' Private'), (1, ' State-gov')]

In [282]:
stmt6 = session.query(func.sum(Adult.capital_gain)).all()
stmt6

2019-03-21 10:59:46,335 INFO sqlalchemy.engine.base.Engine SELECT sum(adult.capital_gain) AS sum_1
FROM adult

INFO:sqlalchemy.engine.base.Engine:SELECT sum(adult.capital_gain) AS sum_1
FROM adult

2019-03-21 10:59:46,339 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[(43200)]